.course-card {
    height: 250px;
    box-shadow: 0 0 2px 0 rgba(119, 119, 119, 0.3);
    background-color: white;
    border-radius: 10px;
    margin: 10px 0 10px 0;
}

.course-card-name {
    margin: 10px;
    color: black;
    font-weight: bold;
    font-size: 24px;
}

.course-card-code {
    margin: 10px;
    color: black;
    text-align: center;
	font-style: italic;
}

.course-card-description {
    margin: 10px;
    color: #777;
    height: 55px;
}

a:hover {
    text-decoration: none;
}

a:hover .course-card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}