.highlight  {
    width: 600px;
    color: white;
    background: rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    padding: 3%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.highlight img {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.highlight ul {
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
}

.highlight button {
    margin: 0 auto;
    float: right;
    -webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.22), 0 5px 11px 0 rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.22), 0 5px 11px 0 rgba(0, 0, 0, 0.21);
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.22), 0 5px 11px 0 rgba(0, 0, 0, 0.21);
}

.highlight h2,h3,h4,h5,h6 {
    padding-bottom: 2%;
    border-bottom: 2px dashed rgba(255, 255, 255, 0.41);
    font-size:20px;
    text-align : center;
    text-transform: uppercase;
}

.name {
    padding-bottom: 2%;
    border-bottom: 2px dashed rgba(255, 255, 255, 0.41);
    text-align : center;
    text-transform: uppercase;
    margin-bottom: 5%;
}

.highlight p {
    text-align: justify;
}