.highlight  {
    width: 80%;
    color: white;
    background: rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    padding: 3%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}

.highlight img {
    float: left;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.highlight ul {
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
}

.highlight button {
    margin: 0 auto;
    float: right;
}

.highlight h2,h3,h4,h5,h6 {
    padding-bottom: 2%;
    border-bottom: 2px dashed rgba(255, 255, 255, 0.41);
    font-size:20px;
    text-align : center;
    text-transform: uppercase;
}

.name {
    padding-bottom: 2%;
    border-bottom: 2px dashed rgba(255, 255, 255, 0.41);
    text-align : center;
    text-transform: uppercase;
    margin-bottom: 5%;
}

.highlight p {
    text-align: justify;
}