.navbar-brand{
    font-size:33px;
}

.nav-item{
    font-size:20px;
}

.active{
    color:blue;
}

.nav-link{
    color: white;
}
.nav-link:hover{
    color:#DD403A !important;
}

nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark {
    background: rgba(0,0,0,0.8) !important;
}
/*.dropdown-menu .dropdown-item:hover{*/
    /*color:#DD403A !important;*/
/*}*/
